<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>SocialDating</title>

    <style type="text/css">
        body {
            text-align: center;
        }
    </style>

</head>
<body>
    This view was rendered using the Nancy Razor view engines
</body>
</html>
