source https://nuget.org/api/v2
framework: net40, net45

nuget Moq >= 4.2 < 5
nuget NUnit >= 2.6 < 3
nuget Newtonsoft.Json >= 7 < 8
nuget StackExchange.Redis >= 1.0 < 2
nuget structuremap >= 3.1 < 4
nuget Ninject >= 3.2 < 4
nuget Castle.Windsor >= 3.3 < 4
nuget Autofac >= 3.5 < 4
nuget Machine.Specifications
nuget Machine.Specifications.Should
nuget Machine.Specifications.Runner.Console